/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background: #F5FFFA;
}

header{
    background: #FFE4E1;
    height: 50px;
    width: 100%;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
}
